body{
	font-family: arial;
	font-size: 12px;
	color: #1e5474;
	background: #F7F7F7;
	margin: 0px;
}
#container{
	margin: 0px auto;
	width: 1100px;
	height: auto;
	padding: 10px;
}

#container #header{
	margin-top: 20px;
}
#menu{
	background: #1e5474;
	padding: 5px 10px;
	overflow: hidden;
}

#user{
	float: left;
	color: white;
}
#user a{
	color: white;
	padding-right: 5px;
	margin-top: 5px;
	display: inline-block;
	text-decoration: none;
}
#button-keranjang{
	float: right;
	background: orange;
	padding: 2px 10px;
	border-radius: 3px;
}
#button-keranjang img{
	vertical-align: bottom;
}


#footer {
    background: #1e5474;
    padding: 10px;
}

#footer p {
    color: white;
    text-align: right;
    margin: 0;
    font-style: italic;
    font-size: 10px;
}

#content{
	padding: 10px 0px;
	overflow: hidden;
	
}

#container-user-akses{
	width: 350px;
	height: auto;
	margin: 50px auto;
}
.element-form{
	margin-bottom: 15px;
}

.element-form label{
	display: block;
	font-weight: bold;
}
.element-form select {
    width: 100%;
    padding: 5px;
}

.element-form span{
	display: block;
	font-weight: bold;
}
.element-form input{
	width: 100%;
	padding: 5px;
	box-sizing: border-box;
}
.element-form textarea{
	width: 100%;
	padding: 5px;
	box-sizing: border-box;
}
.element-form input[type="submit"]{
	background:#1e5474;
	border: none;
	color: white;
	padding: 7px 20px;
	border-radius: 3px;
	cursor: pointer;
}

.element-form input[type="submit"]:hover{
	background: orange;
}
.notif {
    color: white;
    padding: 10px;
    background: #1e5474;
    margin-bottom: 10px;
}

#bg-page-profile{
	overflow:hidden;
}
#menu-profile{
	float:left;
	width:245px;
	background:#1e5474
}
#menu-profile ul{
	margin:0px;
	padding:0px;
	list-style:none;
}
#menu-profile ul li a{
	display:block;
	text-decoration:none;
	color:white;
	padding:10px 20px;
}
#menu-profile ul li a:hover, #menu-profile ul li a.active{
	background:orange;
}

#profile-content{
	float:left;
	width:835px;
	padding:10px;
	background:white;
	
}

table.table-list{
	width:100%;
	border-collapse:collapse;
}
.baris-title{
	background:#e0e0e4;	
}

.table-list tr th, .table-list tr td{
	padding:10px 7px;
	
}

.kolom-nomor{
	width: 20px;
	text-align:center;
}
.kiri {
	text-align:left;
}
.tengah{
	text-align:center;
}

.kanan{
	text-align:right;
}
#frame-tambah{
	margin-bottom:15px;
	text-align:right;
}
.tombol-action{
	background:#1e5474;
	color:white;
	padding:7px 15px;
	border-radius:25px;
	cursor:pointer;
	text-decoration:none;


}
.tombol-action:hover{
	background:orange;
}